.container-fluid {
  background-image: url(/images/bg-action.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#ac-img {
  width: 100%;
}

#ac-title {
  font-size: 22px;
  padding-left: 12px;
}

#ac-info {
  background-color: #34495e;
  color: #fff;
  width: 94%;
  margin: auto;
  border-radius: 8px;
  padding: 4px 0px;
  margin-bottom: 10px;
}

#ac-info div {
  width: 32.5%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

#ac-info div:nth-child(2) {
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

.ac-time {
  padding: 3px 0px;
  margin-left: 3%;
  font-size: 16px;
}

#ac-summary {
  padding: 10px 4%;
  
}

#ac-summary p {
  margin: 0px;
}

#ac-summary * {
  font-size: 14px !important;
}

#ac-summary-title {
  font-size: 16px !important;
  font-weight: 600;
}

#ac-summary-title i {
  margin-left: 10px;
}