/*!  投票页样式表 */
.container-fluid {
  background-image: url(/images/bg-action.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px 3%;
}

#ac-img {
  width: 100%;
}

#ac-title {
  font-size: 22px;
  margin: 0px;
  padding: 15px 5px;
}

#ac-info {
  background-color: #34495e;
  color: #fff;
  margin: auto;
  border-radius: 8px;
  padding: 4px 0px;
  margin-bottom: 10px;
}

#ac-info div {
  width: 32.5%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

#ac-info div:nth-child(2) {
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

.ac-time {
  padding: 3px 0px;
  font-size: 16px;
}

#ac-summary p {
  margin: 0px;
}

#ac-summary * {
  font-size: 14px !important;
}

#ac-summary-title {
  font-size: 16px !important;
  font-weight: 600;
  padding-top: 10px;
}

#ac-summary-title i {
  cursor: pointer;
  margin-left: 5px;
}

#entry-container {
  margin-top: 20px;
  padding: 15px 0px;
  column-count: 2;
  column-gap: 20px;
}

.entry {
  text-align: center;
  background-color: #ececec;
  break-inside: avoid;
  margin-top: 15px;
}

.entry img {
  width: 100%;
}

.entry .btn {
  width: 75%;
  padding: 5px 15px;
  font-size: 14px;
  outline: none;
}

.entry-title {
  padding: 8px 0px 5px 0px;
  font-size: 16px;
  margin: 0px;
}

.entry-acquisition {
  display: block;
  padding: 4px 0px;
  font-size: 12px;
}

#tool-box {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
  padding: 6px 0px;
  display: flex;
  align-items: center;
}

#tool-box span,
#tool-box a {
  flex: 0 0 25%;
  font-size: 14px;
}

#tool-box .btn {
  flex: 0 0 50%;
  font-weight: 900;
}

#search-box {
  margin-top: 25px;
}

footer {
  text-align: center;
  background-color: transparent;
  padding: 35px 0px 60px 0px;
  font-size: 14px;
}

/*!  排行页样式表 */
.rid-color-0 {
  color: #d35400;
}
.rid-color-1 {
  color: #2980b9;
}
.rid-color-2 {
  color: #2c3e50;
}
.rid-color-3 {
  color: #333333;
}
.rid-color-4 {
  color: #27ae60;
}
.rid-color-5 {
  color: #124e8c;
}
.rid-color-6 {
  color:  #46465e;
}

.ranking {
  display: flex;
  padding: 10px 0px; 
  border-bottom: solid 1px #ececec;
  font-size: 14px;
}

.rid {
  width: 42px;
  text-align: center;
  font-weight: 900;
}

.ranking-title {
  flex: 0 0 60%;
  padding: 0px 15px;
  cursor: pointer;
}

.btn-load {
  margin: 10px 0px;
  font-size: 14px;
  width: 55%;
}