/*！
 * 与投票管理相关的页面样式表
 * 包含：管理主页面、编辑页面、报名管理页面、
 *      条目管理页面、结果与日志页面、链接与二维码页面
 */

.container > .nav-tabs {
  font-size: 16px;
  margin-top: 40px;
}

/*！ 链接与二维码页样式 */
.page-qrcode input {
  width: 55%;
  color: #000 !important;
}

/*！报名管理页样式 */
.table-operation {
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border: solid 1px #ccc;
  color: #454545;
}

.table-operation:nth-child(1) {
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.table-operation:nth-child(2) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.table-operation:hover {
  background-color: #f3f3f3;
}

.tox.tox-tinymce {
  width: 100% !important;
}

/*! 表格样式 */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.reponsetable th,
.reponsetable td {
  text-align: center;
  white-space: nowrap;
}

.table-img {
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 52%;
  }
}

