/*！
 * 与投票管理相关的页面样式表
 * 包含：管理主页、编辑页、报名管理页、
 * 条目管理页、结果与日志页、链接与二维码页
 */

.container > .nav-tabs {
  font-size: 16px;
  margin-top: 40px;
}

/*！ 管理主页样式 */
.panel {
  margin-top: 30px;
}

.panel-body .btn {
  padding: 6px 12px;
  margin: auto 2px;
}

.panel-footer .label {
  background-color: transparent;
  color: #777;
}

/*！ 链接与二维码页样式 */
.page-qrcode input {
  width: 55%;
  color: #000 !important;
}

/*! 与表格相关样式 */
.table-operation {
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-right: none;
  color: #454545;
}
.table-operation:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.table-operation:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: solid 1px #ccc;
}
.table-operation:hover {
  background-color: #f3f3f3;
}


/*! 表格样式 */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.reponsetable th,
.reponsetable td {
  text-align: center;
  white-space: nowrap;
}

.reponsetable th[data-field="index"],
.reponsetable td[data-field="index"] {
  display: none;
}

.table-img {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
}

.modal img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 52%;
  }
}

.tox.tox-tinymce {
  width: 100% !important;
}

.pagination ul {
  background-color: #fff;  
}
.pagination ul li > a{
  color: #333;
  border: 1px solid #ddd;
  padding: 0 14px;
  line-height: 36px;
}
.pagination .active {
  background-color: #16a085;
  color: #ffffff;
}
.pagination-jump {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
}
.pagination-jump .input-sm {
  line-height: 16px;
  width: 50px;
  border: none;
  border-bottom: solid 1px #777;
  height: auto;
  border-radius: 0px;
  padding: 3px 6px;
}

.pagination-jump .btn {
  margin-left: 8px;
  font-size: 14px;
  outline: none;
  color: #222;
  padding: 5px 10px;
}
 
.fa-angle-double-left,
.fa-angle-double-right {
  font-weight: 900;
}

#status-filter {
  display: inline-block;
  margin-left: 50px;
}

#status-filter .radio {
  margin-right: 20px;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

#charts > div {
  flex: 0 0 50%;
  height: 400px;
}